/* global style */
*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
body{
    background-color: #fefefe;
    min-height: 100%;
}
a{
    text-decoration: none;
}
header{
    position: absolute;
    inset:0 50%;
}
header>nav{
    display: flex;
    justify-content: space-around;
}
header>nav>a{
    margin:0.5em 1em ;
}
aside{
    padding: 2em 1em 1em;
    background-image: url(./img/marcela-laskoski-YrtFlrLo2DQ-unsplash.jpg);
    background-size:cover;
    background-repeat: no-repeat;

}
aside>p,a,h1{
    margin: 1em;
    font-weight: bold;
    background-color: transparent;
    color: #fefefe;
}
aside>a,h1{
    text-align: center;
}
footer{
    display: flex;
    height: 10vh;
    align-items: center;
    background-color: #04086b;
    position: fixed;
    width: 100%;
    bottom: 0;
    overflow-x:auto;
    overflow-y: hidden;
    flex-wrap: nowrap;
    opacity: 0.7;
}
footer>div>h5{
    padding-right: 1em;
    border-right: 2px solid #fefefe;
}
footer>div{
    align-items: center;
    display: flex;
}
main{
    padding-bottom: 12vh;
}
/* index styles (home page) */
.types{
    margin: 1em auto;
    border-bottom: 2px solid #121212;
    width: 80vw;
}
.types>h3{
    font-size: 48px;
}
.types>a{
    margin: 1em;
    color: #121212;
}
/* store's part  */
body>div>h2{
    color: #121212;
}
.store-main{
    padding-bottom: 12vh;
}
/* page of about us style */
.about-page{
    padding: 2em 1em 1em;
    background-image: url(./img/marcela-laskoski-YrtFlrLo2DQ-unsplash.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    font-weight: bold;
}
.about-page>div,p,h2,h5,a{
    background: transparent;
    color: #fefefe;
    margin: 2em;
}
.about-h2{
    color: #fefefe;
}
.about-div{
    border-bottom:3px solid #fefefe;
}
.about-footer{
    display: flex;
    flex-direction: column;
}
/* style of cards */
.cards{
    display: flex;
    justify-content: space-between;
    margin: 0.5em;
    padding: 1em;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    align-items: center;
    flex-wrap: wrap;
}
.cards>button{
    cursor: pointer;
    padding: 0.4em 0.8em;
    border-radius: 5px;
    background-color: #04086b;
    color: #fefefe;
    font-weight: bold;
    outline:none;
    border: none;
    box-shadow: 0 0 5px 1px rgba(46, 18, 172, 0.5);
}
.cards>h5{
    color: #121212;
}
.cards>img{
    width: 5em;
    height: 5em;
    object-fit: cover;
}